# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
csopesy

.vscode
process1_output.txt
process2_output.txt
process3_output.txt
process4_output.txt
process5_output.txt
process6_output.txt
process7_output.txt
process8_output.txt
process9_output.txt
process10_output.txt
